// Mobile first styling, then desktop styling at bottom.

.buttonSelect {
  @media @desktop {
    max-width: @fg-inner-width;
  }
}

.btn-select-group {
  text-align: left;
  width: 100%;
  max-width: 100%;
  &.bsg-center {
    text-align: center;
    .btn-select {
      margin: 0 auto;
    }
  }
  &.bsg-center-sm {
    text-align: center;
    .btn-select {
      margin: 0 auto;
    }
    @media @desktop {
      text-align: left;
      .btn-select {
        margin: 0;
      }
    }
  }
}

.btn-select {
  display: block;
  font-size: @dq-button-font-size;
  max-width: @btn-select-default-max-width;
  padding: @btn-select-spacing;
  padding-left: 0;
  padding-right: 0;
  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;
  }
  label {
    position: relative;
    max-width: 100%;
    background-color: @dq-button-bg-color;
    -webkit-border-radius: @btn-select-border-radius;
    -moz-border-radius: @btn-select-border-radius;
    border-radius: @btn-select-border-radius;
    border-bottom: 1px solid @dq-button-border-color;
    display: inline-block;
    cursor: pointer;
    .bs-text {
      padding: 7px 1em 6px 30px;
      text-align: left;
      color: @dq-button-text-color;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      span {
        position: relative;
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .bs-fir {
      width: auto;
      text-align: left;
      padding: 0;
      svg {
        width: 20px;
        height: 20px;
        fill: transparent;
        opacity: 0.5;
        position: absolute;
        left: 0.25em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity 100ms ease;
        -moz-transition: opacity 100ms ease;
        -ms-transition: opacity 100ms ease;
        -o-transition: opacity 100ms ease;
        transition: opacity 100ms ease;
        .fir-bg {
          fill: @dq-button-bg-color;
        }
        .fir-base {
          fill: fadeOut(@dq-button-text-color, 10);
        }
        .fir-selected {
          fill: fadeOut(@dq-button-text-color, 100);
        }
      }
    } // end .bs-fir
    &:hover, &:focus {
      background-color: @dq-button-bg-color-hover;
      border-bottom-color: @dq-button-border-color-hover;
      .bs-text {
        color: @dq-button-text-color-hover;
      }
      svg {
        .fir-bg {
          fill: @dq-button-bg-color-hover;
        }
        .fir-base {
          fill: @dq-button-text-color;
        }
      }
    }
  } // end label
  input[type="radio"]:checked, input[type="checkbox"]:checked {
    & + label {
      background-color: @dq-button-bg-color-selected;
      border-bottom-color: @dq-button-border-color-selected;
      .bs-text {
        color: @dq-button-text-color-selected;
      }
      svg {
        opacity: 1;
        .fir-bg {
          fill: @dq-button-bg-color-selected;
        }
        .fir-base {
          fill: @dq-button-text-color;
        }
        .fir-selected {
          fill: @dq-button-text-color;
        }
      }
    }
  } // end input:checked
}


.bsg-grid.bsg-grid-respond {
  .btn-select {
    display: inline-block;
    padding: @btn-select-spacing;
    .bs-text {
      padding: 5px 1em 0px;
      text-align: center;
    }
    .bs-fir {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      svg {
        position: static;
        left: auto;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
    }
  }
}