// All your code lives in theme.less. That is your dojo.

// compat variable set here so less will compile, it's usually set elsewhare though.
@compat: 126;

@import "survey.respondent-post127.less";
@import "fir.less";
@import "button-select.less";
@import "../../theme.less";

.dq-rating-colors-demo {
  color: @fg-color;
  min-width: @fg-inner-width-mobile;
  @media @desktop {
    min-width: @fg-inner-width-desktop;
  }
  .like, .neutral, .dislike {
    width: 33.33%;
    height: 15em; 
    display:inline-block;
    padding: 1em;
  }
  .like {
    background-color: @dq-like;
  }
  .neutral {
    background-color: @dq-neutral;
  }
  .dislike {
    background-color: @dq-dislike;
  }
}