@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic');
/*
    Notes:

    - A high level of rule specificity is (unfortunately) necessary to eliminate conflicts in QA mode
    - Containers exist for most elements to make customization easier
    - Shorthand rules are not used as much as they could to keep customization docs easier

*/
/* ================================================== (AQ Colors) ================================================== */
.survey-theme-colors {
  color: white;
  background-color: green;
}
.survey-theme-colors-selected {
  color: white;
  background-color: orange;
}
.survey-theme-colors-disabled {
  color: white;
  background-color: rgba(0, 128, 0, 0.4);
}
/* ======================================================= (Common) ========================================================*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  -webkit-text-size-adjust: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
legend {
  color: #000;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea {
  cursor: text;
}
/* br that tinymce might add */
br[_mce_bogus] {
  display: none;
}
.hidden {
  display: none;
}
@media (min-width: 768px) {
  #detectBreakpoint {
    display: none;
  }
}
/* ================================================== (Survey Container) ===================================================*/
.survey-container,
.survey-section {
  text-align: center;
}
.survey-body,
.survey-extra-header {
  text-align: left;
}
.survey-body,
.survey-extra-header,
.footer {
  margin: 0 auto;
  min-width: 960px;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
@media (max-width: 960px) {
  .survey-body,
  .survey-extra-header,
  .footer {
    display: block;
    min-width: 0;
  }
}
.answers {
  display: table;
  min-width: 924px;
}
.noCols .answers {
  display: block;
}
@media (max-width: 960px) {
  .answers {
    width: 100%;
    min-width: 0;
  }
}
/* ============================================== (Primary Container Defaults) ============================================*/
.survey-info,
.survey-extra-approval,
.logo,
.survey-error,
.exit-message,
.comment,
.question-text,
.instruction-text,
.survey-buttons {
  /* DOES NOT APPLY TO ".answers" and it's children */
  max-width: 932px;
}
@media (min-width: 768px) {
  .survey-info,
  .survey-extra-approval,
  .logo,
  .survey-error,
  .exit-message,
  .comment,
  .question-text,
  .instruction-text,
  .survey-buttons {
    max-width: 924px;
  }
}
/* Auto Width */
.customWidth .survey-q-error,
.customWidth .question-text,
.customWidth .instruction-text {
  width: auto;
}
/* Auto Width */
.customWidth .answers,
.flexGrid .answers {
  min-width: 1px;
}
/* ==================================================== (Survey Header) =================================================== */
/*
    FUTURE USE:
    This container will allow client branding outside of actual survey content area (.survey-body)
*/
.survey-extra-header {
  height: 0;
  padding: 0;
  /* temp overwrite until this container is used */
  overflow: hidden;
}
/* =================================================== (Survey Content) =================================================== */
.survey-body > form,
.survey-info,
.survey-warning {
  clear: both;
}
/* ============================================ (Survey Content > Page Errors) =============================================*/
/*********************************************
 FIR - Form Image Replacement (see fir.less for comments)
 *********************************************/
/*********************************************
 STYLE SETTINGS: ROUNDED, SQUARE
 *********************************************/
.fir-icon .rounded .fir-base,
.fir-icon .square .fir-base {
  fill: #dddddd;
}
.fir-icon .rounded .fir-bg,
.fir-icon .square .fir-bg {
  fill: white;
}
.fir-icon .rounded .fir-selected,
.fir-icon .square .fir-selected {
  fill: transparent;
}
.fir-icon.selected .rounded .fir-selected,
.fir-icon.selected .square .fir-selected {
  fill: orange;
}
.fir-icon.disabled .rounded .fir-selected,
.fir-icon.disabled .square .fir-selected {
  fill: transparent;
}
/*********************************************
 STYLE SETTINGS: SCALE
 *********************************************/
.fir-icon .scale .fir-large,
.fir-icon .scale .fir-medium,
.fir-icon.selected .scale .fir-medium,
.fir-icon.selected .scale .fir-small {
  fill: transparent;
}
.fir-icon .scale .fir-small {
  fill: green;
}
.fir-icon.selected .scale .fir-large {
  fill: orange;
}
.fir-icon.disabled .scale .fir-medium {
  fill: transparent;
}
/*********************************************
 RESPONDENT VIEW SETTINGS
 *********************************************/
.fir-icon {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.fir-icon svg,
.fir-icon i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.fir-icon.disabled svg,
.fir-icon.disabled i {
  opacity: 0.25;
  filter: alpha(opacity=25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  -moz-opacity: 0.25;
}
.fir-icon i.fa-icon-check-square-o,
.grid-table-mode .fir-icon i.fa-icon-check-square-o {
  margin-left: 3px;
}
.grid-list-mode .fir-icon i.fa-icon-check-square-o {
  margin-left: 0px;
}
.fir-icon i {
  color: green;
}
.fir-icon.selected i {
  color: orange;
}
.fir-hidden {
  display: none !important;
}
/*********************************************
 HIDE FIR FOR THE FOLLOWING DQs
 *********************************************/
.sq-ratingscale .fir-icon,
.sq-fancyboxes .fir-icon {
  display: none;
}
.naCell .fir-icon {
  display: inline-block;
}
/* THESE DQs ALWAYS HIDE FIR -- NOT EVEN SHOWN IN NOANSWER */
.sq-fir .fir-icon,
.sq-atmtable .fir-icon {
  display: none;
}
/*********************************************
 DESKTOP-SPECIFIC RESPONDENT VIEW SETTINGS (FOR HOVERING, ACTIVE, ETC..)
 *********************************************/
.non-touch {
  /***** ROUNDED/SQUARE *****/
  /***** SCALE *****/
}
.non-touch .fir-icon .rounded:hover .fir-selected,
.non-touch .fir-icon .square:hover .fir-selected,
.non-touch .clickableCell:hover .fir-icon .rounded .fir-selected,
.non-touch .clickableCell:hover .fir-icon .square .fir-selected {
  fill: green;
}
.non-touch .fir-icon .rounded:hover:active .fir-selected,
.non-touch .fir-icon .square:hover:active .fir-selected,
.non-touch .fir-icon.selected .rounded:hover .fir-selected,
.non-touch .fir-icon.selected .square:hover .fir-selected,
.non-touch .clickableCell:hover .fir-icon.selected .rounded .fir-selected,
.non-touch .clickableCell:hover .fir-icon.selected .square .fir-selected {
  fill: orange;
}
.non-touch .clickableCell:hover .fir-icon.disabled .rounded .fir-selected,
.non-touch .clickableCell:hover .fir-icon.disabled .square .fir-selected {
  fill: transparent;
}
.non-touch .clickableCell:hover .fir-icon .scale .fir-medium,
.non-touch .fir-icon .scale:hover .fir-medium {
  fill: green;
}
.non-touch .clickableCell:hover:active .fir-icon .scale .fir-large,
.non-touch .fir-icon .scale:hover:active .fir-large {
  fill: orange;
}
.non-touch .clickableCell:hover .fir-icon.selected .scale .fir-medium,
.non-touch .clickableCell:hover .fir-icon.selected .scale .fir-small,
.non-touch .clickableCell:hover .fir-icon.disabled .scale .fir-medium,
.non-touch .clickableCell:hover:active .fir-icon.disabled .scale .fir-large,
.non-touch .clickableCell:hover:active .fir-icon .scale .fir-medium,
.non-touch .clickableCell:hover:active .fir-icon .scale .fir-small,
.non-touch .fir-icon .scale:hover:active .fir-medium,
.non-touch .fir-icon .scale:hover:active .fir-small,
.non-touch .fir-icon.selected .scale:hover .fir-medium,
.non-touch .fir-icon.disabled .scale:hover:active .fir-large {
  fill: transparent;
}
.non-touch .clickableCell:hover:active .fir-icon.disabled .scale .fir-small,
.non-touch .fir-icon.disabled .scale:hover:active .fir-small {
  fill: green;
}
/*********************************************
 FIR FONT-AWESOME
 *********************************************/
/*********************************************
 END FIR
 *********************************************/
/* ================================= (Survey Content > Survey Question > Answers > Grid) ===================================*/
/* Keep in mind this is a MOBILE-FIRST (list-first) layout. CSS applies to both list and table view, unless table view is explicitly mentioned */
.grid,
.grid thead,
.grid tbody,
.row,
.cell,
.cell-sub-wrapper,
.mobile-group-legend {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
}
.lte-ie9 .grid-list-mode,
.lte-ie9 .grid-list-mode thead,
.lte-ie9 .grid-list-mode tbody,
.lte-ie9 .grid-list-mode .row,
.lte-ie9 .grid-list-mode .cell,
.lte-ie9 .grid-list-mode .mobile-group-legend {
  float: left;
  clear: left;
  width: 100%;
}
.lte-ie8 .survey-body form {
  width: 100%;
}
.lte-ie8 .fir-hidden {
  display: inline-block !important;
  position: absolute !important;
  left: -5000px !important;
}
.unused,
.row-col-legends,
.row-col-legends-bottom,
.grid[data-settings*='group-by-col'] .row-legend,
.grid[data-settings*='single-col'] .row-legend,
.grid-multi-col .separator,
.grid[data-settings*='force-top-legend'] .col-legend-bottom {
  display: none;
}
.grid[data-settings*='group-by-col'] .row-col-legends,
.grid[data-settings*='single-col'] .row-col-legends {
  display: block;
}
/* There is no border collapsing when cells are in mobile-view, so we simulate it by:
    1. Assuming people set borders on the .cell or .nonempty class
    2. Adding the class border-collapse to all cells.
    3. Add a blank cell to the top of tables, which has the .cell and .nonempty classes,
       but no .border-collapse class.
    4. Remove border-top from all .border-collapse cells, effectively stripping borders
       from every cell except our special top cell. */
.grid-list-mode .border-collapse {
  border-top: 0;
}
.mobile-top-border-cell {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 0 !important;
}
.grid-list-mode .nonempty {
  border-width: 0;
}
.multi-col-parent-cell {
  vertical-align: top !important;
  padding: 3px;
}
.grid-multi-col-subgrid,
.multi-col-parent-cell {
  border-width: 0 !important;
}
.multi-col-separator {
  width: 6px;
}
.grid-list-mode .multi-col-parent-cell,
.grid-list-mode .multi-col-separator {
  padding: 0;
}
.grid-multi-col-subgrid {
  display: table;
}
.grid-table-mode.grid-multi-col .grid-multi-col-subgrid {
  width: 100%;
}
.mobile-group-legend-space,
.row-legend-both-space,
.row-legend-group-space,
.col-legend-space {
  margin-top: 1em;
}
input[type="text"] {
  max-width: 100%;
  outline: none;
}
textarea {
  min-width: 135px;
  outline: none;
}
.cell-sub-wrapper {
  display: table;
}
.cell-sub-column {
  display: table-cell;
}
.cell-legend-above,
.cell-legend-above .cell-sub-column {
  display: block;
}
.cell-legend-none .cell-text {
  display: none;
}
.input,
.cell-sub-column,
.mobile-oe-legend,
.cell img {
  vertical-align: middle;
}
.cell-input,
.oe,
.checkbox,
.radio,
.nas {
  cursor: pointer;
}
.grid[data-settings*='single-col'] .cell {
  text-align: left;
}
.mobile-oe-legend {
  font-style: italic;
}
.devContainer .question {
  background: transparent;
  position: relative;
}
.devContainer .grid {
  background-color: white;
}
.devContainer .question-text {
  color: #454545;
}
.devContainer h3 {
  color: rgba(69, 69, 69, 0.9);
}
/* Auto Width on custom grids and no-row no-col non-list grids */
.customWidth .grid,
.flexGrid .grid,
.noRows.noCols .grid-table-mode {
  width: auto;
}
/* DESKTOP-ONLY formatting */
.grid.grid-table-mode {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  /* Set table width class -- ".setWidth" is added to table.grid dynamically via JS for questions with less that ten cols */
  /* Auto Width */
  /* no explicit cols or rows*/
  /* ===================== One Column ===================== */
  /* Question column elements (col-legends and elements) - questions WITH row col-legends */
  /* Auto Width */
  /* Multicol AND clearColWidths (for when col widths are specified with inline CSS) - Set Auto Width */
  /* Question column elements (col-legends and elements) - questions WITHOUT row col-legends */
  /* Auto Width */
  /* Lists - Set Auto Width */
  /* ===================== Two to Four Columns ===================== */
  /* Question column col-legends - questions WITH row col-legends */
  /* Auto Width */
  /* Question column col-legends - questions WITHOUT row col-legends */
  /* Auto Width */
  /* ===================== Five to Seven Columns ===================== */
  /* Question column col-legends - questions WITH row col-legends */
  /* Auto Width */
  /* Question column col-legends - questions WITHOUT row col-legends */
  /* Auto Width */
  /* ===================== Eight to Ten Columns ===================== */
  /* Question column col-legends - questions WITH row col-legends */
  /* Auto Width */
  /* Question column col-legends - questions WITHOUT row col-legends */
  /* Auto Width */
  /* ===================== Eleven Columns ===================== */
  /* Question column col-legends - questions WITH row col-legends */
  /* Auto Width */
  /* Question column col-legends - questions WITHOUT row col-legends */
  /* Auto Width */
  /* ===================== 12-17 Columns ===================== */
  /* Auto Width */
}
.grid.grid-table-mode tbody {
  display: table-row-group;
}
.grid.grid-table-mode .row {
  display: table-row;
}
.grid.grid-table-mode .cell {
  display: table-cell;
}
.grid.grid-table-mode .cell-sub-wrapper,
.grid.grid-table-mode .cell-sub-column {
  display: inline-block;
}
.grid.grid-table-mode .cell-text,
.grid.grid-table-mode .mobile-group-legend,
.grid.grid-table-mode .mobile-left-row-legend,
.grid.grid-table-mode .mobile-top-row-legend,
.grid.grid-table-mode .mobile-top-border-row,
.grid.grid-table-mode.grid-list-mode .row-legend-basic,
.grid.grid-table-mode.grid-list-mode .unused,
.grid.grid-table-mode.grid-list-mode .cell-legend-none .cell-text {
  display: none;
}
.grid.grid-table-mode .mobile-oe-legend {
  display: none !important;
}
.grid.grid-table-mode .col-separator {
  border-width: 0;
}
.grid.grid-table-mode .cell {
  vertical-align: middle;
}
.grid.grid-table-mode .col-legend,
.grid.grid-table-mode .element,
.grid.grid-table-mode .cell-sub-column {
  text-align: center;
  vertical-align: middle;
}
.grid.grid-table-mode .col-legend-bottom {
  vertical-align: top;
}
.grid.grid-table-mode .row-legend-both.row-legend-left {
  text-align: right;
}
.grid.grid-table-mode.setWidth {
  /* Set width for questions with less than ten cols */
  max-width: 932px;
}
@media (min-width: 768px) {
  .grid.grid-table-mode.setWidth {
    max-width: 924px;
  }
}
.customWidth .grid.grid-table-mode.setWidth,
.flexGrid .grid.grid-table-mode.setWidth {
  width: auto;
  max-width: none;
}
.noRows.noCols.grid-table-mode .grid.grid-table-mode,
.noRows.noCols.grid-table-mode .grid.grid-table-mode.setWidth {
  width: auto;
}
.grid.grid-table-mode .colCount-1 .col-legend,
.grid.grid-table-mode .colCount-1 .element {
  width: 32%;
}
.customWidth .grid.grid-table-mode .colCount-1 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-1 .col-legend,
.customWidth .grid.grid-table-mode .colCount-1 .element,
.flexGrid .grid.grid-table-mode .colCount-1 .element {
  width: auto;
}
.grid.grid-table-mode.grid-multi-col .colCount-1 .element,
.clearColWidths .grid.grid-table-mode .colCount-1 .element {
  width: auto;
}
.noRows .grid.grid-table-mode.grid-table-mode .colCount-1 .element,
.noRows .grid.grid-table-mode.grid-table-mode .colCount-1 .col-legend {
  width: 99%;
  text-align: left;
}
.noRows.customWidth .grid.grid-table-mode .colCount-1 .element,
.noRows.flexWidth .grid.grid-table-mode .colCount-1 .element,
.noRows.customWidth .grid.grid-table-mode .colCount-1 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-1 .col-legend {
  width: auto;
}
.grid.grid-table-mode.grid-list-mode .colCount-1 .element,
.grid.grid-table-mode.grid-list-mode .colCount-1 .legend {
  width: auto;
}
.grid.grid-table-mode .colCount-2 .col-legend {
  width: 22%;
}
.grid.grid-table-mode .colCount-3 .col-legend {
  width: 16.5%;
}
.grid.grid-table-mode .colCount-4 .col-legend {
  width: 14.5%;
}
.customWidth .grid.grid-table-mode .colCount-2 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-2 .col-legend,
.customWidth .grid.grid-table-mode .colCount-3 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-3 .col-legend,
.customWidth .grid.grid-table-mode .colCount-4 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-4 .col-legend {
  width: auto;
}
.noRows .grid.grid-table-mode .colCount-2 .col-legend {
  width: 49%;
}
.noRows .grid.grid-table-mode .colCount-3 .col-legend {
  width: 33%;
}
.noRows .grid.grid-table-mode .colCount-4 .col-legend {
  width: 24%;
}
.noRows.customWidth .grid.grid-table-mode .colCount-2 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-2 .col-legend,
.noRows.customWidth .grid.grid-table-mode .colCount-3 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-3 .col-legend,
.noRows.customWidth .grid.grid-table-mode .colCount-4 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-4 .col-legend {
  width: auto;
}
.grid.grid-table-mode .colCount-5 .col-legend {
  width: 12%;
}
.grid.grid-table-mode .colCount-6 .col-legend {
  width: 10.5%;
}
.grid.grid-table-mode .colCount-7 .col-legend {
  width: 9.5%;
}
.customWidth .grid.grid-table-mode .colCount-5 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-5 .col-legend,
.customWidth .grid.grid-table-mode .colCount-6 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-6 .col-legend,
.customWidth .grid.grid-table-mode .colCount-7 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-7 .col-legend {
  width: auto;
}
.noRows .grid.grid-table-mode .colCount-5 .col-legend {
  width: 20%;
}
.noRows .grid.grid-table-mode .colCount-6 .col-legend {
  width: 16%;
}
.noRows .grid.grid-table-mode .colCount-7 .col-legend {
  width: 14%;
}
.noRows.customWidth .grid.grid-table-mode .colCount-5 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-5 .col-legend,
.noRows.customWidth .grid.grid-table-mode .colCount-6 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-6 .col-legend,
.noRows.customWidth .grid.grid-table-mode .colCount-7 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-7 .col-legend {
  width: auto;
}
.grid.grid-table-mode .colCount-8 .col-legend {
  width: 8.5%;
}
.grid.grid-table-mode .colCount-9 .col-legend {
  width: 7.9%;
}
.grid.grid-table-mode .colCount-10 .col-legend {
  width: 7.3%;
}
.customWidth .grid.grid-table-mode .colCount-8 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-8 .col-legend,
.customWidth .grid.grid-table-mode .colCount-9 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-9 .col-legend,
.customWidth .grid.grid-table-mode .colCount-10 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-10 .col-legend {
  width: auto;
}
.noRows .grid.grid-table-mode .colCount-8 .col-legend {
  width: 12%;
}
.noRows .grid.grid-table-mode .colCount-9 .col-legend {
  width: 11%;
}
.noRows .grid.grid-table-mode .colCount-10 .col-legend {
  width: 10%;
}
.noRows.customWidth .grid.grid-table-mode .colCount-8 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-8 .col-legend,
.noRows.customWidth .grid.grid-table-mode .colCount-9 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-9 .col-legend,
.noRows.customWidth .grid.grid-table-mode .colCount-10 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-10 .col-legend {
  width: auto;
}
.grid.grid-table-mode .colCount-11 .col-legend {
  width: 7%;
}
.customWidth .grid.grid-table-mode .colCount-11 .col-legend,
.flexGrid .grid.grid-table-mode .colCount-11 .col-legend {
  width: auto;
}
.noRows .grid.grid-table-mode .colCount-11 .col-legend {
  width: 9%;
}
.noRows.customWidth .grid.grid-table-mode .colCount-11 .col-legend,
.noRows.flexWidth .grid.grid-table-mode .colCount-11 .col-legend {
  width: auto;
}
.grid.grid-table-mode .colCount-12 .col-legend {
  width: 7%;
}
.grid.grid-table-mode .colCount-13 .col-legend {
  width: 6%;
}
.grid.grid-table-mode .colCount-14 .col-legend {
  width: 5.5%;
}
.grid.grid-table-mode .colCount-15 .col-legend {
  width: 5.3%;
}
.grid.grid-table-mode .colCount-16 .col-legend {
  width: 5%;
}
.grid.grid-table-mode .colCount-17 .col-legend {
  width: 4.5%;
}
.customWidth .grid.grid-table-mode .col-legend,
.flexGrid .grid.grid-table-mode .col-legend {
  width: auto;
}
/* ========================================= (Survey Content > Survey Complete) ============================================*/
/* =============================================== (Survey Content > Buttons) ==============================================*/
/* ==================================================== (Survey Footer) =================================================== */
/* ==================================================== (special styles) ================================================== */
.screen-readers-only {
  /* Makes content invisible on the screen but visible to screen readers.
    http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Show inline content on mouseover (formerly referred to as "dfn") */
.survey-body a.show_inlineContent {
  position: relative;
}
.survey-body a.show_inlineContent span.content {
  position: absolute;
  background-color: #EFEFEF;
  border: 1px solid;
  cursor: default;
  display: none;
  left: 1.5em;
  padding: 0.5em;
  text-align: left;
  top: 1.5em;
}
.survey-body a.show_inlineContent:hover span.content {
  display: block;
  z-index: 1;
}
.ui-effects-transfer {
  border: 2px dotted gray;
}
/* AQ Colors */
.survey-theme-colors {
  color: #FFFFFF;
  background-color: #FFCC66;
}
.survey-theme-colors-disabled {
  color: #FFFFFF;
  background-color: #dedede;
}
.survey-theme-colors-selected {
  color: #FFFFFF;
  background-color: #FF8800;
}
/* ========================================================= (hacks) ====================================================== */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
.cati-comment {
  text-transform: uppercase;
  background-color: #FFFCD2;
  padding: 10px;
}
/* ================================================== (Survey Images, pre-defined sizes) ================================================== */
.survey_image.survey-image-small {
  max-height: 150px;
  max-width: 150px;
}
.survey_image.survey-image-medium {
  max-height: 300px;
  max-width: 300px;
}
.survey_image.survey-image-large {
  max-height: 600px;
  max-width: 600px;
}
.survey_image.survey-image-xlarge {
  max-height: 900px;
  max-width: 900px;
}
.fit {
  width: auto;
  max-width: 100%;
}
/*********************************************
 VARIABLES
 - These are usually added from other places, but added here for some defaults.
 *********************************************/
/*********************************************
 DESKTOP-SPECIFIC RESPONDENT VIEW SETTINGS LOCATED IN FIR.DESKTOP.LESS
 *********************************************/
/*********************************************
 STYLE SETTINGS: ROUNDED, SQUARE
 *********************************************/
.fir-icon .rounded .fir-base,
.fir-icon .square .fir-base {
  fill: #dddddd;
}
.fir-icon .rounded .fir-bg,
.fir-icon .square .fir-bg {
  fill: white;
}
.fir-icon .rounded .fir-selected,
.fir-icon .square .fir-selected {
  fill: transparent;
}
.fir-icon.selected .rounded .fir-selected,
.fir-icon.selected .square .fir-selected {
  fill: orange;
}
.fir-icon.disabled .rounded .fir-selected,
.fir-icon.disabled .square .fir-selected {
  fill: transparent;
}
/*********************************************
 STYLE SETTINGS: SCALE
 *********************************************/
.fir-icon .scale .fir-large,
.fir-icon .scale .fir-medium,
.fir-icon.selected .scale .fir-medium,
.fir-icon.selected .scale .fir-small {
  fill: transparent;
}
.fir-icon .scale .fir-small {
  fill: green;
}
.fir-icon.selected .scale .fir-large {
  fill: orange;
}
.fir-icon.disabled .scale .fir-medium {
  fill: transparent;
}
/*********************************************
 RESPONDENT VIEW SETTINGS
 *********************************************/
.fa-icon-dot-circle-o:before {
  font-family: CustomFontAwesome;
  content: "\f192";
}
.fir-icon {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.fir-icon svg,
.fir-icon i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.fir-icon.disabled svg,
.fir-icon.disabled i {
  opacity: 0.25;
  filter: alpha(opacity=25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  -moz-opacity: 0.25;
}
.fir-icon i.fa-icon-check-square-o,
.grid-desktop-mode .fir-icon i.fa-icon-check-square-o {
  margin-left: 3px;
}
.grid-list-mode .fir-icon i.fa-icon-check-square-o,
.grid-mobile-mode .fir-icon i.fa-icon-check-square-o {
  margin-left: 0px;
}
.fir-icon i {
  color: green;
}
.fir-icon.selected i {
  color: orange;
}
.fir-hidden {
  display: none !important;
}
/*********************************************
 HIDE FIR FOR THE FOLLOWING DQs
 *********************************************/
.sq-ratingscale .fir-icon,
.sq-fancyboxes .fir-icon {
  display: none;
}
.naCell .fir-icon {
  display: inline-block;
}
/* THESE DQs ALWAYS HIDE FIR -- NOT EVEN SHOWN IN NOANSWER */
.sq-fir .fir-icon,
.sq-atmtable .fir-icon {
  display: none;
}
/*********************************************
 DESKTOP-SPECIFIC RESPONDENT VIEW SETTINGS (FOR HOVERING, ACTIVE, ETC..)
 *********************************************/
.non-touch {
  /***** ROUNDED/SQUARE *****/
  /***** SCALE *****/
}
.non-touch .fir-icon .rounded:hover .fir-selected,
.non-touch .fir-icon .square:hover .fir-selected,
.non-touch .clickableCell:hover .fir-icon .rounded .fir-selected,
.non-touch .clickableCell:hover .fir-icon .square .fir-selected {
  fill: green;
}
.non-touch .fir-icon .rounded:hover:active .fir-selected,
.non-touch .fir-icon .square:hover:active .fir-selected,
.non-touch .fir-icon.selected .rounded:hover .fir-selected,
.non-touch .fir-icon.selected .square:hover .fir-selected,
.non-touch .clickableCell:hover .fir-icon.selected .rounded .fir-selected,
.non-touch .clickableCell:hover .fir-icon.selected .square .fir-selected {
  fill: orange;
}
.non-touch .clickableCell:hover .fir-icon.disabled .rounded .fir-selected,
.non-touch .clickableCell:hover .fir-icon.disabled .square .fir-selected {
  fill: transparent;
}
.non-touch .clickableCell:hover .fir-icon .scale .fir-medium,
.non-touch .fir-icon .scale:hover .fir-medium {
  fill: green;
}
.non-touch .clickableCell:hover:active .fir-icon .scale .fir-large,
.non-touch .fir-icon .scale:hover:active .fir-large {
  fill: orange;
}
.non-touch .clickableCell:hover .fir-icon.selected .scale .fir-medium,
.non-touch .clickableCell:hover .fir-icon.selected .scale .fir-small,
.non-touch .clickableCell:hover .fir-icon.disabled .scale .fir-medium,
.non-touch .clickableCell:hover:active .fir-icon.disabled .scale .fir-large,
.non-touch .clickableCell:hover:active .fir-icon .scale .fir-medium,
.non-touch .clickableCell:hover:active .fir-icon .scale .fir-small,
.non-touch .fir-icon .scale:hover:active .fir-medium,
.non-touch .fir-icon .scale:hover:active .fir-small,
.non-touch .fir-icon.selected .scale:hover .fir-medium,
.non-touch .fir-icon.disabled .scale:hover:active .fir-large {
  fill: transparent;
}
.non-touch .clickableCell:hover:active .fir-icon.disabled .scale .fir-small,
.non-touch .fir-icon.disabled .scale:hover:active .fir-small {
  fill: green;
}
.buttonSelect {
  max-width: 932px;
}
@media (min-width: 768px) {
  .buttonSelect {
    max-width: 924px;
  }
}
.btn-select-group {
  text-align: left;
  width: 100%;
  max-width: 100%;
}
.btn-select-group.bsg-center {
  text-align: center;
}
.btn-select-group.bsg-center .btn-select {
  margin: 0 auto;
}
.btn-select-group.bsg-center-sm {
  text-align: center;
}
.btn-select-group.bsg-center-sm .btn-select {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .btn-select-group.bsg-center-sm {
    text-align: left;
  }
  .btn-select-group.bsg-center-sm .btn-select {
    margin: 0;
  }
}
.btn-select {
  display: block;
  font-size: 16px;
  max-width: 320px;
  padding: 0 2px 4px;
  padding-left: 0;
  padding-right: 0;
}
.btn-select input[type="radio"],
.btn-select input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
}
.btn-select label {
  position: relative;
  max-width: 100%;
  background-color: green;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid #003400;
  display: inline-block;
  cursor: pointer;
}
.btn-select label .bs-text {
  padding: 7px 1em 6px 30px;
  text-align: left;
  color: white;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.btn-select label .bs-text span {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn-select label .bs-fir {
  width: auto;
  text-align: left;
  padding: 0;
}
.btn-select label .bs-fir svg {
  width: 20px;
  height: 20px;
  fill: transparent;
  opacity: 0.5;
  position: absolute;
  left: 0.25em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 100ms ease;
  -moz-transition: opacity 100ms ease;
  -ms-transition: opacity 100ms ease;
  -o-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}
.btn-select label .bs-fir svg .fir-bg {
  fill: green;
}
.btn-select label .bs-fir svg .fir-base {
  fill: rgba(255, 255, 255, 0.9);
}
.btn-select label .bs-fir svg .fir-selected {
  fill: rgba(255, 255, 255, 0);
}
.btn-select label:hover,
.btn-select label:focus {
  background-color: #00cd00;
  border-bottom-color: #006700;
}
.btn-select label:hover svg .fir-bg,
.btn-select label:focus svg .fir-bg {
  fill: #00cd00;
}
.btn-select label:hover svg .fir-base,
.btn-select label:focus svg .fir-base {
  fill: white;
}
.btn-select input[type="radio"]:checked + label,
.btn-select input[type="checkbox"]:checked + label {
  background-color: orange;
  border-bottom-color: #b37300;
}
.btn-select input[type="radio"]:checked + label svg,
.btn-select input[type="checkbox"]:checked + label svg {
  opacity: 1;
}
.btn-select input[type="radio"]:checked + label svg .fir-bg,
.btn-select input[type="checkbox"]:checked + label svg .fir-bg {
  fill: orange;
}
.btn-select input[type="radio"]:checked + label svg .fir-base,
.btn-select input[type="checkbox"]:checked + label svg .fir-base {
  fill: white;
}
.btn-select input[type="radio"]:checked + label svg .fir-selected,
.btn-select input[type="checkbox"]:checked + label svg .fir-selected {
  fill: white;
}
.bsg-grid.bsg-grid-respond .btn-select {
  display: inline-block;
  padding: 0 2px 4px;
}
.bsg-grid.bsg-grid-respond .btn-select .bs-text {
  padding: 5px 1em 0px;
  text-align: center;
}
.bsg-grid.bsg-grid-respond .btn-select .bs-fir {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.bsg-grid.bsg-grid-respond .btn-select .bs-fir svg {
  position: static;
  left: auto;
  top: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/* ================================================ READ ME! ================================================ */
/*
  This file is...
    A minimally styled boilerplate LESS file for making a Beacon survey theme. 
    This single file constitutes a theme.
    It overrides all other Beacon LESS files except user input overrides.

  Rules of thumb are...
    • In the markup, styles use hyphen-case, JS uses camelCase
    • Use 'em' units for font sizes (ex. font-size: 1.125em;). This way the user can increase or decrease all font sizes proportionally by adjusting the @general-font-size variable (which is used by the theme editor UI as well).
    • Use the variables.
        - The variables are piped into the theme editor and used for making adjustments using the UI, so don't delete any of the preset variables.
        - In general, avoid messing with any of the styles that are using the variables in the theme file.
        - You can add theme specific variables at the bottom of the variables list if you want to provide some customization controls or for your own convenience.
    • Stay flat.
        - Avoid too much style nesting. By keeping things flat, you'll make it much easier for users to perform simple overrides in the theme editor's css injector. Wouldn't you rather override ".instructions" instead of ".survey-body .question .instructions"?
    • Stay Responsive. The responsive strategy is as follows..
        - Mobile first. Style the survey with a narrow viewport first, apply all the mobile styles before any desktop styling media queries.
        - Then Desktop. You can use the "@media @desktop {}" media query in any selector to apply it's stylings over the @breakpoint (there are examples of this scattered about).
        - BUT TABLES ARE SPECIAL. Tables attempt to stay a table for as long as possible before collapsing into a list for narrow viewports, therefore they don't use media queries. There are sepparate sections (see table of contents below) for styling the list & desktop table modes exclusively.
*/
/* ============================================ TABLE OF CONTENTS ============================================ */
/*
    --- Variables
    --- Resets
    --- Reusable Classes
    --- Survey Page (html, body, etc)
    --- Logo
    --- Progress Bar
    --- Comment
    --- Question
    --- Question > Question Text
    --- Question > Instructions
    --- Question > Answers
    --- Question > Answers > Mobile First Table Styling
    --- Question > Answers > Desktop Table Styling
    --- Buttons
    --- Exit Page
    --- Errors
    --- Extra Info
    --- Footer
*/
/* ============================================= ( Variables ) ============================================= */
/*
  Add additional theme specific variables below.
  Use a prefix, something like "@contemporary-fg-border-radius" if the theme was named "contemporary".
  Creating variables allows the user to easily change things, they may appear in the theme editor UI as controls.
*/
/* =============================================== ( Resets ) =============================================== */
/* 
    There are already some resets in place by default, but you can add your own resets or normalize styles here.
/*


/* ========================================== ( Reusable Classes ) ========================================== */
.large-text {
  font-size: 1.4em;
}
.small-text {
  font-size: 0.75em;
}
/* ============================================ ( Survey Page ) ============================================ */
html {
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 12.8px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.survey-page {
  background-color: white;
  color: #454545;
}
@media (min-width: 768px) {
  .survey-page {
    background-color: grey;
  }
}
.survey-body {
  margin: 0 auto;
  padding: 1em 14px;
  background-color: white;
  position: relative;
}
@media (min-width: 768px) {
  .survey-body {
    padding-left: 18px;
    padding-right: 18px;
  }
}
/* ================================================= ( Logo ) =============================================== */
.logo {
  text-align: center;
}
.logo-left {
  text-align: left;
}
.logo-right {
  text-align: right;
}
/* ============================================ ( Progress Bar ) ============================================ */
/*
  Left a basic progress bar built out, but feel to make your own!
*/
.progress-bar {
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
}
@media (min-width: 768px) {
  .progress-bar {
    width: 30%;
    text-align: right;
    float: right;
  }
  .logo-left + .progress-bar,
  .logo-middle + .progress-bar {
    position: absolute;
    top: 1em;
    right: 3%;
    float: none;
  }
  .progress-bar:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.progress-bottom {
  margin-top: 1em;
  margin-bottom: 0;
}
.progress-box-outer,
.progress-text {
  display: inline-block;
  vertical-align: top;
}
.progress-box-outer {
  background-color: transparent;
  border: 1px solid #b7b7b7;
  width: 85%;
  max-width: calc(100% - 4em);
  text-align: right;
  height: 1em;
  display: inline-block;
}
.progress-box-completed {
  background-color: #dddddd;
  width: 0%;
  height: 100%;
  display: block;
}
.progress-text {
  color: #454545;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
  line-height: 1em;
  padding-left: 0.5em;
}
/* ============================================== ( Comment ) =============================================== */
/* ============================================= ( Question ) ============================================== */
.question {
  margin-top: 1em;
  clear: both;
}
/* ====================================== ( Question > Question Text ) ===================================== */
.question-text {
  color: #454545;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
}
.hideQuestionText .question-text {
  display: none;
}
/* ====================================== ( Question > Instructions ) ====================================== */
.instruction-text {
  color: rgba(69, 69, 69, 0.9);
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
}
/* Programmers have the option to hide the respondent instruction text */
.hideInstructionText .instruction-text {
  display: none;
}
/* ========================================= ( Question > Answers ) ========================================= */
.answers {
  color: #454545;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
}
select {
  font-size: 1em;
}
.input {
  margin: 0;
}
input[type="text"] {
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input[type="text"]:focus {
  border: 1px solid orange;
}
textarea {
  width: 100%;
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: text;
}
textarea:focus {
  border: 1px solid orange;
}
/* =========================== ( Question > Answers > Mobile First Table Styles ) =========================== */
.cell-text {
  padding: 0 0.4em;
}
input[type="checkbox"] + .cell-text,
input[type="radio"] + .cell-text {
  padding: 0 0.25em;
}
.legend {
  padding: 7px;
}
.element {
  padding: 0.7em;
}
.element:hover,
.element:focus,
.element:active {
  background-color: #ffffff;
}
.grid-list-mode .cell,
.grid-list-mode .cell:hover {
  background-color: transparent;
}
.indent-1 {
  padding-left: 14px;
}
.indent-2 {
  padding-left: 21px;
}
.indent-3 {
  padding-left: 28px;
}
.legend-level-1 {
  font-size: 1.05em;
}
.legend-level-2 {
  font-size: 1.25em;
}
.legend-level-3 {
  font-size: 1.3em;
}
/* ============================= ( Question > Answers > Desktop Table Styling ) ============================= */
/*
  All the desktop grid styles need to have the .grid-desktop-mode prefixed before
  These take place until a table absolutely must collapse.. It's a long story.
*/
.grid-table-mode .legend {
  font-size: 1em;
  background-color: #ededed;
  padding: 0.4em 0.5em;
}
.grid-table-mode .row-legend-group {
  font-size: 1.2em;
  background-color: #dedede;
}
.grid-table-mode input[type="text"] {
  padding: 1px 0.5em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 1em;
}
.grid-table-mode textarea {
  padding: 2px;
  border: 1px solid #dddddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.grid-table-mode .nonempty {
  border: 1px solid #dddddd;
}
.grid-table-mode.grid-group-by-col .col-legend-group {
  font-size: 1em;
}
.grid-table-mode .element {
  padding: 0.4em;
}
/* =============================================== ( Buttons ) ============================================== */
/*
  "Continue", "Finish", etc.
  Button Select buttons are styled in it's own less file, use the variables for styling those.
*/
.survey-buttons {
  text-align: center;
  margin: 1em 0 0;
}
@media (min-width: 768px) {
  .survey-buttons {
    text-align: right;
  }
}
.button {
  background-color: #454545;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
  border: 1px solid #2b2b2b;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0.5em;
}
.button:hover,
.button:focus {
  background-color: #6b6b6b;
  border-color: #525252;
}
.button:active {
  background-color: #646464;
}
.button[disabled] {
  background-color: rgba(69, 69, 69, 0.6);
}
.button.back,
.button.randomize {
  background-color: #454545;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
  border: 1px solid #2b2b2b;
}
.button.back:hover,
.button.randomize:hover,
.button.back:focus,
.button.randomize:focus {
  background-color: #6b6b6b;
  border-color: #525252;
}
/* ============================================ ( Exit Page ) =============================================== */
/* =============================================== ( Errors ) =============================================== */
/*
    Survey page errors are displayed at the top of the page and are wrapped in a .survey-page-error container
    Survey question errors are displayed WITHIN a question and are wrapped in .survey-q-error containers
*/
.survey-error {
  background-color: red;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
}
.question-error {
  background-color: transparent;
  color: red;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
}
.cell.hasError,
.element.hasError:hover,
.rowLegendErr .oe,
.colLegendErr .oe {
  background-color: rgba(255, 0, 0, 0.1);
}
/* ============================================ ( Extra Info ) ============================================== */
/*  
    This is mainly used in QA mode for:
        - page breaks
        - "show question attributes"
        - "show source code"
        - and other messages
    But these messages will also show if a survey is in testing mode and sent to a non-logged-in user to test, 
    so they do need some styling.
*/
.survey-info {
  background-color: yellow;
  color: #454545;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.survey-warning {
  background-color: yellow;
  color: #454545;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
  padding: 10px;
  font-weight: bold;
}
.autosave-restart {
  border: 1px solid #3670A0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  max-width: 932px;
}
@media (min-width: 768px) {
  .autosave-restart {
    max-width: 924px;
  }
}
/* =============================================== ( Footer ) ============================================== */
.footer {
  color: #454545;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, "MS Trebuchet", sans-serif;
}
.footer a {
  color: blue;
}
.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #3333ff;
}
.dq-rating-colors-demo {
  color: white;
  min-width: 932px;
}
@media (min-width: 768px) {
  .dq-rating-colors-demo {
    min-width: 924px;
  }
}
.dq-rating-colors-demo .like,
.dq-rating-colors-demo .neutral,
.dq-rating-colors-demo .dislike {
  width: 33.33%;
  height: 15em;
  display: inline-block;
  padding: 1em;
}
.dq-rating-colors-demo .like {
  background-color: #c5d600;
}
.dq-rating-colors-demo .neutral {
  background-color: #00b4d6;
}
.dq-rating-colors-demo .dislike {
  background-color: #ba0000;
}
